

<div class="jumbotron">
  <h1>RESINDEX</h1>
  <p>RESINDEX is a tool that allows you to create projects, goals and jobs and prioritises your work automatically for you.</p>
    <p>RESINDEXs main feature is that it uses a bespoke algorithm which calculates what priority you should have on your important and difficult work.  Allowing you to get on with the right stuff, which might not be the easy stuff !</p>
    <p>Whats more is that if you use TRELLO your can migrate your work to RESINDEX and prioritise it from there rather than having to keep track across numerous boards, lists and cards and refresh it when you get more work.</p>
       
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> OR <a class="btn btn-primary btn-lg" href="/sign_up" role="button">Sign up</a> and get working ! </p>
</div>


