 <% if !mobile? || ipad? %>



 <div class="panel panel-default col-md-5" id ="comments-panel">
        <div class="panel-heading" id="notes-panel-header"><h4>Notes</h4></div>
        <div class="panel-body">
          <div class="list-group" id="comment-list-group">
          </div>
        </div>
      </div>
<% end %>