<% if !mobile? || ipad? %>

  <div class="panel panel-default" id="heat-map-panel">
         <button class="btn btn-primary btn-xs pull-left to_control" data-toggle="tooltip" data-placement="left" title="back to control">
                     <span class="glyphicon glyphicon-th-list"></span>
              </button>
        <div class="panel-heading">
          <h4>Heat Map</h4>
        </div>
        <div class="panel-body" >
          <div class = "list-group" id="heat-map-container">
          <button class="btn btn-info btn-xs" type="button" data-toggle="collapse" data-target="#noResindex" aria-expanded="false">Resindex not set</button><hr></hr>
          <div class="collapse" id="noResindex"></div>
          <button class="btn btn-info btn-xs" type="button" data-toggle="collapse" data-target="#withResindex">With resindex</button><hr></hr>
          <div class="collapse" id="withResindex"></div>
           <button class="btn btn-info btn-xs" type="button" data-toggle="collapse" data-target="#resindexToBeReset">Resindex to be reset</button><hr></hr>
          <div class="collapse" id="resindexToBeReset"></div>
          </div>
        </div>
      </div> 
<% end %>