<h1>List of GA courses</h1>
<div class="index_table">
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Outcome</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.importance %></td>
    <td><%= task.difficulty %></td>
    <td><%= task.card_id %></td>
  
  </tr>
<% end %>
</table>
</div>