<% if current_user %>

<div class="row">
  <div class ="col-xs-8">
    <div class="input-group">
        <input type="text" class="form-control mobile-task-name" placeholder="New Job">
        <span class="input-group-btn">
          <button class="btn btn-default mobile-add" type="button">Add</button>
        </span>
    </div>
  </div>
  <div class="col-xs-4">
      <button class="btn btn-sm"><span class="glyphicon glyphicon-flag"></span></button>
      <button class="btn btn-sm"><span class="glyphicon glyphicon-flash"></span></button>
  </div>
</div>

<button class="btn btn-success">Projects</button>
<button class="btn btn-success">Goals</button>
<button class="btn btn-success mobile-jobs">Jobs</button>
<button class="btn btn-success">New Job</button>


<div>
  <div id="mobile-list"></div>
</div>
<!-- <div class="clock" style="display:hidden"><span id="hours"></span><span id="minutes"></span><span id="seconds"></span></div>
 -->

 <div class="clock  well well-lg"><span id="hours"></span><span id="minutes"></span><span id="seconds"></span></div>

<% else %>

  <%= render "landing" %>

<% end %>