

<div class="row" id="add-task" style="display:none;">
  <div class ="col-xs-8">
    <div class="input-group">
      <input type="hidden" id="projectShown">
       <input type="hidden" id="goalShown">
        <input type="text" class="form-control mobile-task-name" placeholder="New Job">
        <span class="input-group-btn">
          <button class="btn btn-default mobile-add" type="button">Add</button>
        </span>
    </div>
  </div>
  <div class="col-xs-4">
      <button class="btn btn-sm"><span class="glyphicon glyphicon-flag"></span></button>
      <button class="btn btn-sm"><span class="glyphicon glyphicon-flash"></span></button>
  </div>
</div>

<div class="row" id="add-project">
  <div class ="col-xs-8">
    <div class="input-group">
              <input type="text" class="form-control mobile-project-name" placeholder="New Project">
        <span class="input-group-btn">
          <button class="btn btn-default mobile-add-project" type="button">Add</button>
        </span>
    </div>
  </div>
  <div class="col-xs-4">
      <button class="btn btn-sm"><span class="glyphicon glyphicon-flag"></span></button>
      <button class="btn btn-sm"><span class="glyphicon glyphicon-flash"></span></button>
  </div>
</div>

<hr></hr>
<button class="btn btn-success mobile-projects">Projects</button>
<button class="btn btn-success mobile-goals" style="display:none;">Goals</button>
<hr></hr>

<div>
  <div id="mobile-list"></div>
  <div id="mobile-list-completed"></div>
  <div id="mobile-task-details"></div>
</div>
<!-- <div class="clock" style="display:hidden"><span id="hours"></span><span id="minutes"></span><span id="seconds"></span></div>
 -->

 <div class="clock  well well-lg" style="display:none;"><span id="hours"></span><span id="minutes"></span><span id="seconds"></span>
  <div>
    <button class="stop-clock-button btn btn-md pull-right btn-info"> Stop Clock </button>
  </div>
 </div>

