  <div class="input-group">
      <input type="text" class="form-control" placeholder="New Job">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Add</button>
      </span>
    </div>
      <button class="btn btn-sm"><span class="glyphicon glyphicon-flag"></span></button>
      <button class="btn btn-sm"><span class="glyphicon glyphicon-flash"></span></button>
<button class="btn btn-success">Projects</button>
<button class="btn btn-success">Goals</button>
<button class="btn btn-success mobile-jobs">Jobs</button>
<button class="btn btn-success">New Job</button>

<div id="mobile-list"></div>