<button class="btn btn-success">Projects</button>
<button class="btn btn-success">Goals</button>
<button class="btn btn-success mobile-jobs">Jobs</button>
<button class="btn btn-success">New Job</button>

<div id="mobile-list"></div>