<% if current_user %>

<div class="container-fluid">
  <input type="hidden" class="projectSel"></input>
  <input type="hidden" class="goalSel"></input>

 <div class="row">

    <div class="col-sm-3">

      <div class="panel panel-default">
         <button class="btn btn-primary btn-xs pull-right" id="new-project">
                    New prize
              </button>
        <div class="panel-heading">
       <h4>Control</h4>

       <!--        <span class="pull-right">
        <button class="btn btn-primary" id="new-project">
                    Create new Project
              </button></span></h4> -->

        </div>
        <div class="panel-body" id="menu-container">
          <div class="well well-lg" id="project-button">
            Prizes
           
          </div>
        </div>
      </div>
    </div>



    <div class="col-sm-9">
      <div class="panel panel-default col-md-6" id ="task-panel">
        <div class="panel-heading" id="things"><h4>Jobs to do...</h4></div>
        <div class="panel-body" >
          <div class="list-group" id="task-list-group">
           <!--  <a href="#" class="list-group-item active"><span class="glyphicon glyphicon-collapse-down pull-right"></span></a>
            <a href="#" class="list-group-item">Dedicated server doesn't..</a>
            <a href="#" class="list-group-item">RHEL 6 install on new..</a> -->
          </div>
        </div>
      </div>

      <div class="panel panel-default col-md-5" id="input-panel">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="glyphicon glyphicon-wrench pull-right"></i>
              <h4 id="" class="task-form-header" >Create Job</h4>
          </div>
        </div>

        <div class="panel-body">
          <div class="control-group">
         <!--    <label>Thing Title</label> -->
              <div class="controls">
                <input type="text" class="form-control" placeholder="Thing name" id="task_title">
              </div>
          </div>      
                        
          <div class="control-group">
            <!-- <label>How to get that thing done</label> -->
            <div class="controls">
              <textarea class="form-control" placeholder="Add some details" id="task_description"></textarea>
            </div>
          </div> 
                             
          <div class="control-group project-options">
            <!-- <label>Prize</label> -->
            <div class="controls">
              <select class="form-control" id="project-select"><option>options</option>
                <option>options2</option>
              </select>
            </div>
          </div>   

           <div class="control-group" id="goal-options" style="display:none">
            <label>How to get there..</label>
            <div class="controls">
              <select class="form-control" id="goal-select"><option>Goal1</option>
                <option>Goal2</option>
              </select>
            </div>
          </div>
          <hr>
          <div id = "resindex-wrapper2">
            <div id="hours-wrapper">
              <div class="control-group project-options">
            <!-- <label>Estimated time</label> -->
                <div class="controls">
                  <select class="form-control" id="estimate-select">
                      <option value="none">How long will it take ?</option>
                      <option value="1">One hour</option>
                      <option value="2">Two hours</option>
                      <option value="3">Three hours</option>
                      <option value="4">Foru hours</option>
                      <option value="5">Five hours</option>
                      <option value="6">Six hours</option>
                      <option value="7">Seven hours</option>
                      <option value="8">Eight hours</option>
                      <option value="9">Nine hours</option>
                      <option value="10">Ten hours</option>
                  </select>
                </div>
              </div>
            </div>   
              <!-- start of slider -->
            <!--   <p>
                <label for="hours_estimate">Hours estimate:</label>
                <input type="text" id="hours_estimate" readonly style="border:0; color: blue; font-weight:bold;">
              </p>
              <div id="slider-estimate" style="height:100px;"></div> -->
            <!-- </div>  -->
            <!-- end of slider -->


                    
            <div id="difficulty-wrapper">
              <div class="control-group project-options">
            <!-- <label>Prize</label> -->
                <div class="controls">
                  <select class="form-control" id="difficulty-select">
                      <option value="none">Difficulty</option>
                      <option value="1">Easy-done it before</option>
                      <option value="2">Something slightly different</option>
                      <option value="3">Tricky</option>
                      <option value="4">Really difficult</option>
                      <option value="5">Mission Impossible!</option>
                  </select>
                </div>
              </div>  
            </div> 
              <!-- start of the slider -->
             <!--    <p>
                <label for="difficulty">Difficulty:</label>
                <input type="text" id="difficulty" readonly style="border:0; color: blue; font-weight:bold;">
                </p>
              <div id="slider-difficulty" style="height:100px;"></div> -->
            <!-- </div> -->
            <!-- end of slider -->
                  

            <!-- <div id="importance-wrapper"> -->


             <!--  <p>
              <label for="importance">Importance:</label>
              <input type="text" id="importance" readonly style="border:0; color: blue; font-weight:bold;">
              </p>
              <div id="slider-importance" style="height:100px;"></div> -->
            <!-- </div> -->
            <div id="importance-wrapper">
              <div class="control-group project-options">
                <!-- <label>Prize</label> -->
                <div class="controls">
                  <select class="form-control" id="importance-select">
                    <option value="none">Importance</option>
                    <option value="5">Would do</option>
                    <option value="4">Could do</option>
                    <option value="3">Should do</option>
                    <option value="2">Someone needs this</option>
                    <option value="1">Someone REALLY needs this!</option>
                  </select>
                </div>
              </div> 
            </div> 
            </div> 
                    
            <hr>
            <div id="dates-wrapper">
              <p>To be done...</p>
              <button class="btn btn-danger" id="today">Today</button>
              <button class="btn btn-warning" id="tomorrow">Tomorrow</button>
              <!-- <p>Or</p> -->
              <button class="btn btn-info">I want to set dates</button>
              <hr>
              <div class="dates">
                <label for="start_date">Start Date</label>
                <input type="text" id="start_date" name="start_date">
              </div>
                
              <div class="dates">
                <label for="end_date">End Date</label>
                <input type="text" id="end_date" name="end_date">
              </div>
            </div>
          </div>           
          
          <div class="control-group" id="submit-button-group">
        
            <div class="controls">
              <button class="btn btn-primary" id="new-task">
                    Post
              </button>
               <button class="btn btn-warning" id="refresh">
                    Clear
              </button>
            </div>
          </div>   
        </div>
      

     
      <div class="panel panel-default col-md-5" id ="comments-panel">
        <div class="panel-heading"><h4>Notes</h4></div>
        <div class="panel-body">
          <div class="list-group" id="comment-list-group">
            <a href="#" class="list-group-item active"><span class="glyphicon glyphicon-collapse-down pull-right"></span></a>
            <a href="#" class="list-group-item">Dedicated server doesn't..</a>
            <a href="#" class="list-group-item">RHEL 6 install on new..</a>
          </div>
        </div>
      </div>
  </div>
                  

<div id="new-project-modal" title="New Project" class="modal-dialog">
  <label for="name">Name</label>
  <input type="text" name="name" id="project-name" class="text ui-widget-content ui-corner-all">
 <!--    <button class="btn btn-primary pull-right" id="create-new-project">
                    Create New Project
              </button> -->
</div>

<div id="new-goal-modal" title="New Goal" class="modal-dialog">
  <input type="hidden" class="goalproject_id">
  <label for="name">Thing Name</label>
  <input type="text" name="name" id="goal-name" class="text ui-widget-content ui-corner-all">
 <!--    <button class="btn btn-primary pull-right" id="create-new-project">
                    Create New Project
              </button> -->
</div>

<div id="new-comment-modal" title="New Comment" class="modal-dialog">
  <input type="hidden" class="taskComment_id">
  <label for="name">Note</label>
  <input type="text" name="name" id="comment-text" class="text ui-widget-content ui-corner-all">
   <div class="control-group comment_type-options">
            <label>Note Type</label>
            <div class="controls">
              <select class="form-control" id="type-select"><option>options</option>
                <option>options2</option>
              </select>
            </div>
          </div>  
 <!--    <button class="btn btn-primary pull-right" id="create-new-project">
                    Create New Project
              </button> -->
</div>


<% else %>

  <%= render "landing" %>

<% end %>

            
<!-- Modal form for reindex -->
<!--   <div id="resindex-wrapper" title="" class="modal-dialog">
    <input type="hidden" id="card_id"></input>
    <div id="hours-wrapper">
      <p>
        <label for="hours_estimate">Hours estimate:</label>
        <input type="text" id="hours_estimate" readonly style="border:0; color: blue; font-weight:bold;">
      </p>
      <div id="slider-estimate" style="height:100px;"></div>
    </div>

    <div id="diff-import-wrapper">
      <div id="difficulty-wrapper">
        <p>
        <label for="difficulty">Difficulty:</label>
        <input type="text" id="difficulty" readonly style="border:0; color: blue; font-weight:bold;">
      </p>
      <div id="slider-difficulty" style="height:50px;"></div>
    </div>

      <div id="importance-wrapper">
        <p>
        <label for="importance">Importance:</label>
        <input type="text" id="importance" readonly style="border:0; color: blue; font-weight:bold;">
        </p>
        <div id="slider-importance" style="height:50px;"></div>
      </div>
    </div> -->

    <!--<script> src="home.js" </script>-->

<!--     <div id="dates-wrapper">
      <div class="dates">
        <label for="start_date">Start Date</label>
        <input type="text" id="start_date" name="start_date">
      </div>
      <div class="dates">
        <label for="end_date">End Date</label>
        <input type="text" id="end_date" name="end_date">
      </div>
    </div>
      <div class="dates">
        <label for="completed">Completed ?</label>
        <input type="checkbox" id="completed" name="completed">
      </div>
    </div>
  </div>
</div> -->
