#resindex-wrapper2{
     border-color: 2px solid blue;
     display: inline-block;
}

#task-panel .panel-body,
#comments-panel .panel-body{
  height: 500px;
  overflow: auto;
}



.completed{
  margin-left: 5px;
}

.border-red{

  border-color: red;
  border-width: 3px;
}

/*#task-body{
  overflow: scroll;
}*/


#hours-wrapper{
  /*vertical-align: top;*/
  height: 50px;
  display: inline-block;
  border-color: 2px solid blue;
  width: 150px;
  margin-top: 10px;
}


#difficulty-wrapper{
display: inline-block;
width: 88px;
  /*width: 150%;*/
/*padding: 10px;*/
 margin-top: 10px;
 /*margin-right: 150px;*/

}

#importance-wrapper{
  display: inline-block;
    /*width: 150%;*/
  width: 108px;
  margin-top: 10px;
}

#estimate-select{
  width: 100%;
  /*margin-right: 150px*/
}
#difficulty-select{
  width: 100%;
  /*margin-right: 150px*/
}
#importance-select{
  width: 100%;
  /*margin-right: 150px*/
}

.classNotSet{

  width: 100px;

}



li{
  list-style-type: none;
}


#diff-import-wrapper{
    height: 150px;
    display: inline-block;
    border-color: 2px solid blue;
}

#difficulty-wrapper, #importance-wrapper {

/*  display: inline-block;*/
  border-color: 2px solid blue;
  text-align: center;
}
#dates-wrapper{
  vertical-align: top;
  display: inline-block;
  padding-top: 5px;
}
.dates{
  padding:10px;
  /*display: none;*/

}
hr{
  margin-top: 5px;
  margin-bottom: 5px;

}

#input-panel{
  margin-left: 10px;


}

.list-group-item{
margin-bottom: 10px;


}

.commentButton{
  margin-left: 5px;
}

#comments-panel{
  /*display: none;*/
  top: +100px;
  margin-left: 10px;

}
.projects{
  background-color: #5cb85c;
  color:white;

}

.goals{
  background-color: #5bc0de;
  color:white;

}
#project-button{
  background-color: #dff0d8;
  height:75px;
  width: 275px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.panel-default>.panel-heading{
  background-color: #9abc32;
  color:white;

}
.btn-warning{
  background-color: #fee188;
  color: green;
}

.comments{
  background-color: #d9edf7;
}

.badge.warning{
  background-color: red;
}

#task_title{
  margin-bottom: 10px;
}
#task_description{
  margin-bottom: 10px;
}

#submit-button-group{
  margin-bottom: 20px;
  margin-left: 20px;
}

#user_tasks,
#user_projects,
#user_goals {
  margin-right: 5px;
}



/*.ui-dialog .ui-dialog-titlebar{
    background-color: #9abc32;
}*/

.modal-dialog{
    background-color: #9abc32;
}
/*.task_description_on_task .textarea .form-control{
  height: 200px;

}*/

.selected-search{
  background-color: red;
}

textarea.form-control{
  height: 100px;
}
#non_trello_search,
#trello_search{
  margin-left: 10px;
}
