#resindex-wrapper2{
     border-color: 2px solid blue;
     display: inline-block;
}
.clock{
  background-color: red;
  font-size: 250%;
  height: 100px;
  display:hidden;

}
a.mobile-link:visited,
a.mobile-link{
  color: white;
}



.mobile-project{
  background-color: yellow;
  color: blue;

}

.mobile-task{
  background-color: green;
  color: white;
}
#project-button h4{
color: rgb(119, 119, 119);
}

#project-button h4:hover{
color: rgb(135, 145, 145);
}

#checklist-panel .panel-body,
#task-panel .panel-body,
#comments-panel .panel-body{
  height: 500px;
  overflow: auto;
}

#heat-map-container{
   height: 500px;
  overflow: auto;
}

#comment-text {
  height: 60px;
  width: 260px;

}

.noResindex{
  background-color: yellow;
}



.completed{
  margin-left: 5px;
}

.border-red{

  border-color: red;
  border-width: 3px;
}

/*#task-body{
  overflow: scroll;
}*/


#hours-wrapper{
  /*vertical-align: top;*/
  height: 50px;
  display: inline-block;
  border-color: 2px solid blue;
  width: 150px;
  margin-top: 10px;
}


#difficulty-wrapper{
display: inline-block;
width: 88px;
  /*width: 150%;*/
/*padding: 10px;*/
 margin-top: 10px;
 /*margin-right: 150px;*/

}

#importance-wrapper{
  display: inline-block;
    /*width: 150%;*/
  width: 108px;
  margin-top: 10px;
}

.estimate-sel{
  width: 100%;
  /*margin-right: 150px*/
}
.difficulty-sel{
  width: 108%;
  /*margin-right: 150px*/
}
.importance-sel{
  width: 109%;
  /*margin-right: 150px*/
}

.classNotSet{

  width: 100px;

}
li{
  list-style-type: none;
}


#diff-import-wrapper{
    height: 150px;
    display: inline-block;
    border-color: 2px solid blue;
}

#difficulty-wrapper, #importance-wrapper {

/*  display: inline-block;*/
  border-color: 2px solid blue;
  text-align: center;
}
#dates-wrapper{
  vertical-align: top;
  display: inline-block;
  padding-top: 5px;
}
.dates{
  padding:10px;
  /*display: none;*/

}
hr{
  margin-top: 5px;
  margin-bottom: 5px;

}

#input-panel{
  margin-left: 10px;


}

.list-group-item{
margin-bottom: 10px;


}

.commentButton{
  margin-left: 5px;
}

.viewChecklistButton{
  margin-right: 5px;
}

/*#heat-map-panel,*/
#comments-panel{
  /*display: none;*/
  top: +100px;
  margin-left: 10px;

}

#heat-map-panel{
  position:relative;
  top: +100px;
}

#checklist-panel{
  position:relative;
  top: +100px;
}

#control-panel{
  position:relative;

}
.projects{
  background-color: #5cb85c;
  color:white;

}

.goals{
  background-color: #5bc0de;
  color:white;

}
#project-button{
  background-color: #dff0d8;

  border-radius: 10px;
  margin-bottom: 20px;
}

.panel-default>.panel-heading{
  background-color: #9abc32;
  color:white;

}
.btn-warning{
  background-color: #fee188;
  color: green;
}

.comments{
  background-color: #d9edf7;
}

.heat-task.ok{
  background-color:green;
  color: white;
}

.heat-task.dodgy{
  background-color: orange;
  colo:white;
}

.heat-task.out{
  background-color: red;
  color: white;
}

.badge.warning{
  background-color: orange;
}

.badge.success{
  background-color: green;
}

.badge.info{
  background-color: yellow;
  color:blue;
}

.badge.danger{
background-color: red;
}

#task_title{
  margin-bottom: 10px;
}
#task_description{
  margin-bottom: 10px;
}

#submit-button-group{
  margin-bottom: 20px;
  margin-left: 20px;
}

#user_tasks,
#user_projects,
#user_goals {
  margin-right: 5px;
}



/*.ui-dialog .ui-dialog-titlebar{
    background-color: #9abc32;
}*/

.modal-dialog{
    background-color: #9abc32;
}
/*.task_description_on_task .textarea .form-control{
  height: 200px;

}*/

.selected-search{
  background-color: red;
}

textarea.form-control{
  height: 100px;
}
#non_trello_search,
#trello_search{
  margin-left: 10px;
}
.resindex-logo{
  border-color: 5px blue solid;
  font-size: 300%
}

.pricingsplash {
  padding:25px;
  color:#FFF;
  text-align:center;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
.pricingsplash .plannamesplash {
  text-transform:uppercase;
  font-weight:600;
}
.pricingsplash .pricesplash {
  font-size:52px;
  font-weight:300;
  margin:10px 0;
  color: #777;
}
.pricingsplash .billingsplash {
  text-transform:uppercase;
  color:#FFF;
  opacity:0.7;
}
.pricingsplash .pricesplash .currsplash {
  display:inline-block;
  font-size:20px;
  vertical-align:super;
}
.pricingsplash .pricesplash .persplash {
  display:inline-block;
  font-size:20px;
  vertical-align: baseline;
}
.color1 {
  background-color:#dff0d8;
}
.color2 {
  background-color:#dff0d8;
}
.color3 {
  background-color:#dff0d8;
}
/* Animation */

.jumbotron{
  background-color: #dff0d8;
}

.pricingsplash {
  -moz-transition:all 0.6s ease;
  -webkit-transition:all 0.6s ease;
  -ms-transition:all 0.6s ease;
  -o-transition:all 0.6s ease;
  transition:all 0.6s ease;
}
.pricingsplash:hover {
  -moz-transform:scale(1.05);
  -webkit-transform:scale(1.05);
  -o-transform:scale(1.05);
  -ms-transform:scale(1.05);
  transform:scale(1.05);
  z-index:2;
}

.footer {
  background-color: #95c221;
  padding-bottom: 20px;
  position: relative;
  color: white;
  text-align: center;
}

/* line 367, ../scss/app.scss */
p.follow {
  display: inline-block;
  margin-top: 30px;
  font-weight: bold;
}

/* line 373, ../scss/app.scss */
.social-container {
  display: inline-block;
}

/* line 377, ../scss/app.scss */
.social-img {
  margin-top: 25px;
  margin-bottom: 40px;
  margin-right: 5px;
  margin-left: 5px;
  width: 40px;
}

/* line 385, ../scss/app.scss */
p.copyright {
  font-size: 14px;
  margin-bottom: 20px;
}
.stroke-through{

  text-decoration: line-through;
}

/* line 390, ../scss/app.scss */
a.terms {
  color: #FFFFFF;
  font-size: 11px;
}

/* line 395, ../scss/app.scss */
a.terms:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.checklist_text{
  border-color: black
}

.mobile-thing{
  background-color: green;
}
