<h1>Listing checklist_items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Completed</th>
    <th>Checklist</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checklist_items.each do |checklist_item| %>
  <tr>
    <td><%= checklist_item.name %></td>
    <td><%= checklist_item.completed %></td>
    <td><%= checklist_item.checklist_id %></td>
 
  </tr>
<% end %>
</table>

<br />


